cufflinks
graphviz
h5py
MiniSom
missingno
networkx
plotly
pydot
pyfolio-reloaded
QuantStats
seaborn
tabulate
tensorboard
shap
xgboost
xlrd
yfinance
keras-tuner
tensorboard
pandas_ta
python-lsp-server[all]
scikeras
